#info {
    height: 500px;
    padding: '50px';
    background-color: #e0e0e0;
}

#howToGet {
    height: 500px;
    padding: '50px';
    background-color: #e0e0e0;
}

#reviews {
    height: 500px;
    padding: '50px';
    background-color: #e0e0e0;

}