.SmoothScrollBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 50px;
}

.SmoothScrollBar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}